{% extends 'dummy.html' %}
{% load static %}
{%  block title %}
<title>Home Page</title>
{% endblock %}

{% block body_block %}
 
<center>
    <h1>ABOUT US</h1>
    <h3>The current challenge lies in securing readily available domestic help such as maids, cooks, and nannies, leading to a significant gap between supply and demand. Conversely, service providers in this sector struggle to find suitable employment opportunities. What is required is a platform that effectively connects service seekers with service providers, addressing this imbalance.</h3>
</center>

{% endblock %}